In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier
from sklearn.metrics import accuracy_score
from sklearn.impute import SimpleImputer
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
# Load the Adult Income dataset
column_names = [
    'Age', 'Workclass', 'fnlwgt', 'Education', 'Education-Num', 'Marital-Status', 
    'Occupation', 'Relationship', 'Race', 'Sex', 'Capital-Gain', 'Capital-Loss', 
    'Hours-per-week', 'Native-Country', 'Income'
]

df = pd.read_csv("./Dataset/adult.csv")
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
# Preprocess the dataset

# Handle missing values by imputing with the most frequent value
imputer = SimpleImputer(strategy='most_frequent')
df = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)

# Encode categorical features using Label Encoding
label_encoder = LabelEncoder()

# Encoding columns that need it: 'Workclass', 'Education', 'Marital-Status', 'Occupation', 'Relationship', 'Race', 'Sex', 'Native-Country', 'Income'
categorical_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 
                       'race', 'gender', 'native-country', 'income']

for col in categorical_columns:
    df[col] = label_encoder.fit_transform(df[col])

# Split data into features and target
X = df.drop(columns=['income'])
y = df['income']

# Split the dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [4]:

# Initialize the base model (RandomForest)
rf_model = RandomForestClassifier(n_estimators=10, max_depth=5, random_state=42)

# Initialize the AdaBoostClassifier with the RandomForest as the base estimator
ada_boost_model = AdaBoostClassifier(estimator=rf_model, n_estimators=50, random_state=42)

# Fit the model to the training data
ada_boost_model.fit(X_train, y_train)

# Predict on the test set
y_pred = ada_boost_model.predict(X_test)

# Calculate the accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy * 100:.2f}%')

Accuracy: 86.25%